
body {
	background-color : #777;
}

#header {
	width: 960px;
	padding: 25px 0px 25px 0px ;
	background-color: #ebebeb;
	text-align: center;
	font-family:Arial;
	color: #777;
	margin:auto;
	margin-bottom: 10px;

}
#footer {
	width: 960px;
	padding: 25px 0px 25px 0px ;
	background-color: #ebebeb;
	text-align: center;
	font-family:Arial;
	color: #777;
	margin:auto;
	margin-top: 20px;
	clear: left;
}
#nav {
	width: 960px;
	padding: 25px 0px 25px 0px ;
	background-color: #ebebeb;
	text-align: center;
	font-family:Arial;
	color: #777;
	margin:auto;
	margin-bottom: 20px;
}
#aside {
	width: 430px;
	height: 300px;
	background-color: #ebebeb;
	background-color: #ebebeb;
	text-align: center;
	font-family:Arial;
	color: #777;
	float:right;

}
#sectionBox {
	width: 495px;
	background-color: #ebebeb;
	height: 300px;
	background-color: #ebebeb;
	font-family:Arial;
	color: #777;
	float:left;
}

#wrapper {
	margin:auto;
	width: 960px;
	height: 300px;
}

#articleBox {
	float: left;
    background-color: #777;
	width:480px;
	height: 195px ;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px ;

}
#sectionText {
	width: auto;
	margin: auto;
	padding: 8%;
	text-align:center;
}

#articleText {
	 width:auto;
	 margin:auto;
	 padding: 5%;
	 color:white;
	 text-align: center;

 }
#heading {
	width:auto;
	margin:10px;
	background-color: #ebebeb;
	padding: 10px;
	text-align: center;
}
#p1 {
	width:auto;
	margin:auto;
	margin:10px;
	background-color: #ebebeb;
	padding: 10px;
	text-align: center;
}

#asideText {
	width: auto;
	margin: auto;
	padding: 8%;
	text-align: center;
}